<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta
      http-equiv="x-ua-compatible"
      content="ie=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Papyrus - Usage
    </title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{'/assets/favicon-32x32.png' | url }}">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{'/assets/favicon-16x16.png' | url }}">
      {% comment %} <link href="https://fonts.googleapis.com" rel="preconnect">
            <link
              href="https://fonts.gstatic.com"
              crossorigin
              rel="preconnect">
          <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet"> {% endcomment %}
    <link
      rel="stylesheet"
      href="{{'/style.css' | url }}">
    <link
      rel="stylesheet"
      href="{{'/papyrus.css' | url }}">
    <script
      src="{{'/bundle.min.mjs' | url }}"
      type="module"></script>

  </head>

  <body>

    {{ content }}

  </body>

</html>